{% extends "base.html" %}

{% block title %}Not Fun{% endblock %}

{% block head %}
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
    }

    .content h1 {
        font-size: 50px;
    }

    .content p {
        font-size: 20px;
        color: #333;
    }

    .content a,
    .content button {
        color: #fff;
        background-color: #007bff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        margin: 10px;
    }

    .content a:hover,
    .content button:hover {
        background-color: #0056b3;
    }

    .content button {
        background-color: #6c757d;
    }

    .content button:hover {
        background-color: #5a6268;
    }

    @keyframes flick {
        from {
            color: #ff6f61;
        }

        to {
            color: #ff6e61ab;
        }
    }

    h1 {
        animation-duration: 50s;
        animation-name: flick;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
</style>
{% endblock %}

{% block content %}
<h1>Lost on the internet</h1>
<p>The page or file you are looking for doesn't exist or has been moved.</p>
<button onclick="history.back()">Go back to where you came from</button>
<p><a href="/">Go back to the homepage</a></p>
{% endblock %}