<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/src/sidebar.css">
</head>

<body>
    <div class="sidebar">
        <a class="icon" href="/"><img src="/media/cf-icon.svg" width="50px" height="50px" /></a>
        <ul>
            <li><a href="/">Computing Fun <img src="/media/cf-icon.svg" /></a></li>
            <li><a href="/#about">About <img src="/media/about-faq-help-svgrepo-com.svg" /></a></li>
            <li><a href="/#contact">Contact <img src="/media/contact-details-svgrepo-com.svg" /></a></li>
            <li><a href="https://www.youtube.com/@computingfun" target="_blank">YouTube <img
                        src="/media/yt_icon_mono_dark.svg" /></a></li>
            <li><a href="https://github.com/computing-fun" target="_blank">GitHub <img
                        src="/media/github-mark-white.svg" /></a></li>
        </ul>
        <div class="sidebar-backing"></div>
    </div>
    <div class="content">
        <div class="icon-backing"></div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>